@import "./media_Query.scss";
@import "./login.scss";

html{
  scroll-behavior: smooth;
}
body{
  @import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
  font-family: 'Open Sans', ;
}


/* Style the tab */

.tab {  
  font-family: 'Open Sans', ;
  font-size: 15px;
  overflow: hidden;
  background-color: #fcfcfc;
  box-shadow: 0 4px 8px 0 rgba(221, 221, 221, 0.2), 0 6px 20px 0 rgba(189, 186, 186, 0.19);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  color: #8D8D8D;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 22px 19px;
  transition: 0.1s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  outline: none;
}

/* Create an active/current tablink class */
.tab button.active {
 color: #6699E0;
 outline: none;
 border-bottom: 2px solid #1967D2;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;

}
.alignment{
  margin-top: 1.3rem;
}
#blue_btn{
  outline: none;
  float: right;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 2em;  
  margin-right: 3rem;
}
.brand__logo{
  margin-left: 5rem;
  outline: none;
}
.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

#home{
   padding: 0;
}

.img__bg{
  display: block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.underline{
  margin-top: 7rem;
  border: 1px solid rgb(192, 188, 188);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgb(4, 12, 34, .1);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; 

}

.sidenav a {
  padding: 25px 9px 20px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #c0bebe;
  display: block;
  transition: 0.3s;
}

#active a:hover{
  background-color: yellow;
}

.sidenav a:hover {
  background-color:  #1967D2;
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#active{
  background-color:  #1967D2;
  color: white;
  margin-top: 1rem;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

